<ion-header>
  <ion-navbar>
    <ion-title>{{navParams.get('mName')}}</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="addReview()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list text-wrap *ngFor="let item of items | async">
    <ion-item no-lines>
      <ion-avatar text-center item-start>
        <img src="assets/imgs/avatar.png">
        <p>{{item.rating}}/10</p>
      </ion-avatar>
      <p text-justify>{{item.review}}</p>
    </ion-item>
  </ion-list>
  <ion-fab *ngIf="flag" mini right bottom>
    <button ion-fab mini (click)="addReview()">
      <ion-icon color="danger" name="add-circle"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
