page-profile {
    ion-avatar img{
        margin: auto !important;          
        width: 100% !important;  
        height : 100% !important;  
        max-width: 150px !important;
        max-height: 150px !important;
    }

    .button {
        text-transform: none;
    }    

    ion-label{
        padding-left: 2px;
    }
    ion-list{
        ion-item{            
            background: rgb(241, 237, 237) !important;         
        }
    }
}
